//
//  Unsaft.xcconfig
//  Modulemap
//
//  Created by What on 2018/12/23.
//  Copyright © 2018 dumbass. All rights reserved.
//

SWIFT_INCLUDE_PATHS = $(PROJECT_DIR)/SDRDevice/SDRDevice/LibRTLSDR $(PROJECT_DIR)/SDRDevice/SDRDevice/LibUSB

LIBRARY_SEARCH_PATHS = $(PROJECT_DIR)/SDRDevice/SDRDevice/LibRTLSDR $(PROJECT_DIR)/SDRDevice/SDRDevice/LibUSB
